<%- include("../templates/header")%>


<div class="login-container">

  <div class="login-image">
    <img src="../assets/perfilVacio.jpg" alt="perfil vacio" srcset="">
  </div>
  <h2>Iniciar sesión</h2>
  <form action="/login" method="post">
    <input  type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus>
    <input  type="password" name="password" id="password" placeholder="Password" autofocus>
    <button type="submit">Entrar</button>
    <a href="/nuevousuario">Registrarse</a>

  </form>
</div>

<%- include("../templates/footer")%>