
<div class="container">
    <form action="/nuevoUsuario" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo Usuario</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text"name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text"name="usuario" id="usuario" placeholder="Usuario"> 
                <input class="form-control mb-3" type="password"name="password" id="password" placeholder="Password" >
                <input class="form-control mb-3" type="file" name="foto" id="foto" placeholder="Selecciona tu foto">
            </div>
            <div class="card-footer">
                 <button class="btn btn-primary mb-3" type="submit">Guardar Usuario</button>
                    <button class="btn btn-secondary" type="reset">Limpia Campos</button>  
            </div>
        </div>
    </form>
</div>

