<%- include("../templates/menu")%>

    <main>
      <article>
  
        <!-- 
          - #HERO
        -->
  
        <section class="hero" id="home">
          <div class="container">
  
            <div class="hero-banner">
  
  
              <!--<div class="elem elem-1">
                <p class="elem-title">25</p>
  
                <p class="elem-text">Aniversario</p>
              </div> -->
  
              <div class="elem elem-2">
                <p class="elem-title">25</p>
  
                <p class="elem-text">Aniversario</p>
              </div>
  
              <div class="elem elem-3">
                <ion-icon name="trophy"></ion-icon>
              </div>
  
             <!-- <img src="./assets/images/rotate-img.png" width="169" height="172" alt="I'm developer from New York"
                class="rotate-img">-->
  
            </div>
  
            <div class="hero-content">
  
              <h2 class="hero-title">
                <span>¡Hi!</span>
                <strong>Lobo</strong>
              </h2>
  
              <p class="hero-text">
                ¡Bienvenido a MIUTSJR, tu plataforma educativa! Aquí encontrarás recursos, información y herramientas
                para tu experiencia académica. Explora, aprende y haz de tu tiempo con nosotros una experiencia única.
              </p>
  
              <div class="btn-group">
                <a href="http://200.188.14.58/moodle/login/index.php" class="btn btn-primary blue">Go to Moodle</a>
  
                <a href="#about" class="btn">Classroom</a>
              </div>
  
            </div>
  
          </div>
        </section>
  
  
  
  
  
        <!-- 
          - #ABOUT
        -->
  
        <section class="section about" id="about">
          <div class="container">
  
            <figure class="about-banner">
  
              <img src="./assets/images/about-banner.jpg" width="800" height="652" loading="lazy" alt="Photo"
                class="img-cover">
  
              <img src="./assets/images/absolute-image.jpg" width="800" height="717" loading="lazy" alt="Photo"
                class="abs-img">
  
              <div class="abs-icon abs-icon-1">
                <ion-icon name="logo-css3"></ion-icon>
              </div>
  
              <div class="abs-icon abs-icon-2">
                <ion-icon name="logo-javascript"></ion-icon>
              </div>
  
              <div class="abs-icon abs-icon-3">
                <ion-icon name="logo-angular"></ion-icon>
              </div>
  
            </figure>
  
            <div class="about-content">
  
              <p class="section-subtitle">Dliquip ex ea commo do conse</p>
  
              <h2 class="h2 section-title">Dliquip ex ea commo do conse</h2>
  
              <p class="section-text">
                Dliquip ex ea commo do conse namber onequa ute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu
                fugiat nulla pariatu epteur sint occaecat cupidatat
              </p>
  
              <p class="section-text">
                Krnon proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                omnis
              </p>
  
            </div>
  
          </div>
        </section>
  
  
  
  